<div class="row">
   <div class="col-md-12">
      <div class="card ">
         <div class="card-header ">
            <h5 class="card-title text-center texto_principal"> <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
               Comprobantes Web de Recibos de Pago de Prestamos Reestructurados</h5>
         </div>
         <div class="card-body">
            <hr class="hr_principal">
            <div class="container mt-5">
               <app-datos-personales></app-datos-personales>
            </div>
            <h5 class="text-center text-info mt-4"> <strong>Buscar Recibos por Periodo Mes/Año</strong></h5>
            <div class="container mr-5  tarjeta mt-4">
               <div class="row">
                  <div class="col-4">
                     <select class="form-control">
                        <option>Selecciones Mes</option>
                     </select>
                  </div>
                  <div class="col-4">
                     <select class="form-control">
                        <option>Selecciones Año</option>
                     </select>
                  </div>
                  <div class="col-4">
                     <span class="text-primary">
                        <i class="fa fa-search fa-2x" aria-hidden="true"> Buscar</i>
                     </span>
                  </div>

               </div>

            </div>
            <h5 class="text-center text-warning mt-3"><strong>Recibos Generados</strong></h5>
            <hr>

            <div class="container mr-5  tarjeta mt-4">
               <div class="row">
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
                  <div class="col-3">
                     <img src="assets/img/pdf.png" alt="prestamos">
                     <p> Mes de Enero</p>
                  </div>
               </div>
            </div>
         </div>
         <div class="card-footer">
            <hr class="hr_principal">
            <div>

            </div>
         </div>
      </div>
   </div>
</div>