<div class="row">
   <div class="col-md-12">
      <div class="card ">
         <div class="card-header ">
            <h5 class="card-title text-center texto_principal"> <i class="fa fa-money fa-1x" aria-hidden="true"></i>
               Aportes</h5>
         </div>
         <div class="card-body">
            <hr class="hr_principal">
            <div class="container mt-5">
             <app-datos-personales></app-datos-personales>
            </div>

            <div class="container mt-3">
               <table class="table table-sm" aria-describedby ='afiliados'>
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Mes/Año</th>
                      <th scope="col">Aporte</th>
                      <th scope="col">Otros Aportes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
            </div>
         

         </div>
         <div class="card-footer  ">
            <hr class="hr_principal">
            <div>
               <div class="container d-flex justify-content-end mt-3">
                  <div class="row">
                     <div class="col-sm">
                        <button class="btn btn-outline-primary btn-sm"> <i class="fa fa-download"
                              aria-hidden="true"></i> Descargar</button>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>