<div class="row">
   <div class="col-md-12">
      <div class="card ">
         <div class="card-header ">
            <h5 class="card-title text-center texto_principal"> <i class="fa fa-money fa-1x" aria-hidden="true"></i>
               Tarjeta de Credito</h5>
         </div>
         <div class="card-body">
            <hr class="hr_principal">
            <div class="container mt-5">
               <app-datos-personales></app-datos-personales>
            </div>
            <div class="container d-flex justify-content-end mt-3">
               <div class="row">
                  <div class="col-sm">
                     <span> <i class="fa fa-download text-warning mr-2 fa-2x"
                           aria-hidden="true"></i> <strong> Descargar Actual </strong></span>
                  </div>

               </div>
            </div>
            <div class="container tarjeta mt-4">
               <div class="row">
                  <div class="col-3">
                     <strong>Nª de Tarjeta : </strong> ************ 3581
                  </div>
                  <div class="col-3">
                     <strong>Tipo : </strong> Principal
                  </div>
                  <div class="col-3">
                     <strong>Vencimiento : </strong> 03-21
                  </div>
                  <div class="col-3">
                     <strong>Linea de Credito : </strong> 2.000.000
                  </div>
               </div>
               <div class="row mt-4">
                  <div class="col-3">
                     <strong>Deuda : </strong> 3.000.581
                  </div>
                  <div class="col-3">
                     <strong>Disponible : </strong>20.0000
                  </div>

               </div>

               <table class="table text-center table-sm table-bordered mt-5" aria-describedby ='tarjeta'>
                  <thead>
                    <tr>
                      <th scope="col">Saldo Financiado</th>
                      <th scope="col">Saldo Fact. No Venc</th>
                      <th scope="col">Saldo A Facturar</th>
                      <th scope="col">Saldo en Mora</th>
                      <th scope="col">Autorizaciones Pend.</th>
                      <th scope="col">Pago Minimo</th>
                      <th scope="col">Dias de Mora</th>
                      <th scope="col">Venc. Extracto</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">475.000</th>
                      <td>0</td>
                      <td>15.321</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>04-06-21</td>               
                    </tr>
                   
                  </tbody>
                </table>


            </div>

         </div>
         <div class="card-footer  ">
            <hr class="hr_principal">
            <div>
           
            </div>
         </div>
      </div>
   </div>
</div>