<div class="sidebar-wrapper">
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-large">
        <img src="/assets/img/angular.png" alt='Imgen del logo portal' />
      </div>
    </a>
    <a href="#" class="simple-text logo-normal">
      <strong>
        Portal
      </strong>
    </a>
  </div>
  <ul class="nav">

    <li class=" menu">Usuario</li>
    <li routerLinkActive="active" class="">
      <a routerLink="/dashboard">
        <i class="fa fa-tachometer" aria-hidden="true"></i>
        <p> <strong>Datos Personales</strong></p>
      </a>
    </li>

    <li class=" menu">Solicitudes</li>
    <li routerLinkActive="active">
      <a routerLink="/SolicitudPrestamo">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        <p> <strong>Solicitud Prestamo</strong></p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/PanDulce">
        <i class="fa fa-file-text-o" aria-hidden="true"></i>
        <p> <strong>Credito Pan Dulce</strong></p>
      </a>
    </li>
    <li class=" menu">Consultas</li>
    <li routerLinkActive="active">
      <a routerLink="/Aportes">
        <i class="fa fa-money" aria-hidden="true"></i>
        <p> <strong>Aportes</strong></p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/TarjetaCredito">
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        <p> <strong>Tarjeta Credito</strong></p>
      </a>
    </li>
    <li class=" menu">Comprobantes Web</li>
    <li routerLinkActive="active">
      <a routerLink="/PagoPrestamos">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <p> <strong>Pago Prestamos</strong></p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/PrestamosReestructurados">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <p><strong>Pres Reestructurados</strong></p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/AporteAguinaldo">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <p><strong>Aporte Aguinaldo</strong></p>
      </a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/CuotaSedeSocial">
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        <p><strong>Cuota S. Social</strong></p>
      </a>
    </li>


  </ul>
</div>