<div class="row">
   <div class="col-md-12">
      <div class="card ">
         <div class="card-header ">
            <h5 class="card-title text-center texto_principal"> <i class="fa fa-paper-plane" aria-hidden="true"></i>
               Solicitud de Prestamo</h5>
         </div>
         <div class="card-body">
            <hr class="hr_principal">
            <div class="container mt-5">
               <app-datos-personales></app-datos-personales>
            </div>

            <div class="container mt-3">
               <div class="row">
                  <div class="col-lg-6 row">
                     <div class="col-lg-4">
                        <label class="mt-1">
                           <strong>Línea de Préstamo :</strong>
                        </label>
                     </div>
                     <div class="col-lg-8">
                        <select class="form-control">
                           <option>Linea de Credito</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-6 row">
                     <div class="col-lg-4">
                        <label class="mt-1">
                           <strong>Monto Solictado:</strong>
                        </label>
                     </div>
                     <div class="col-lg-8">
                        <input class="form-control"/>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container mt-3">
               <div class="row">
                  <div class="col-lg-6 row">
                     <div class="col-lg-4">
                        <label class="mt-1">
                           <strong>Agencia mas Cercana :</strong>
                        </label>
                     </div>
                     <div class="col-lg-8">
                        <select class="form-control">
                           <option>Asuncion</option>
                        </select>
                     </div>
                  </div>
                  <div class="col-lg-6 row">
                     <div class="col-lg-4">
                        <label class="mt-1">
                           <strong>Plazo</strong>
                        </label>
                     </div>
                     <div class="col-lg-8">
                        <select class="form-control">
                           <option>10</option>
                           <option>12</option>
                        </select>
                     </div>
                  </div>
               </div>
            </div>

         </div>
         <div class="card-footer  ">
            <hr class="hr_principal">
            <div>
               <div class="container d-flex justify-content-end mt-3">
                  <div class="row">
                     <div class="col-sm">
                        <button class="btn btn-outline-primary btn-sm"> <i class="fa fa-paper-plane" aria-hidden="true"></i> Enviar Solicitud</button>
                     </div>

                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>